* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: palatino;
    background-color: #FFFFE0;
}


main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}


#welcome {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

h1 {
    margin-bottom: 20px;
}

#dollar {
    width: 200px;
    height: 250px;
}

.welcome-text {
    margin-top: 10px;
}

.welcome-text-bold {
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}

#reg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reg-input {
    margin-top: 20px;
    padding: 12px 20px;
    width: 200px;
    border: 1px solid #444444;
    border-radius: 10px;
    font-size: 12px;
}

.reg-button {
    height: 30px;
    width: 120px;
    background-color: #FFAD00;
    color: white;
    font: 20px bold;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

#login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app {
    grid-column: 1 / 4;
    grid-row: 1;
}

#logo-container {
    margin-left: 400px;
    height: 170px;
    display: inline-block;
}

#small-dollar {
    height: 120px;
    width: 100px;
    margin-top: 20px;
    position: absolute;
    left: 1300px;
}

.link {
    margin-right: 33px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
}


header {
    position: relative;
    top: 0px;
    border-bottom: 5px solid black;
}

#small-profile-pic-container {
    margin-left: 20px;
    position: absolute;
    top: 20px;
    left: 15px;
    display: inline-block;
}

.links-container {
    display: inline-block;
    margin-left: 470px;
    position: absolute;
    top: 85px;
}

#small-profile-pic {
    width: 100px;
    height: 120px;
    border-radius: 5px;
    cursor: pointer;
}

#profilepic-and-text-container {
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
}

#big-profile-pic {
    width: 300px;
    height: 360px;
    display: inline-block;
    float: left;
    margin-left: 200px;
    object-fit: cover;
    border-radius: 5px;
}

#profile-textarea {
    font-size: 15px;
}

#profile-text {
    display: inline-block;
    float: right;
    width: 600px;
    margin-left: 20px;
}


#clear {
    clear: both;
}

#username {
    font-size: 30px;
    margin-bottom: 20px;
}

#profile-pic-upload-container {
    background-color: #FFFFCC;
    width: 400px;
    height: 200px;
    border-style: solid;
    border-color: #FFAD00;
    border-radius: 10px;
    margin-left: 500px;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hide-upload {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 335px;
    cursor: pointer;
}

h3 {
    padding-top: 0px;
    margin-bottom: 25px;
}

#pic-file-upload {
    position: relative;
    overflow: hidden;
    background-color: #FFAD00;
    color: white;
    width: 110px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#pic-upload-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

textarea {
    margin-top: 20px;
}

#bio-text{
    font-size: 18px;
}

#bio-edit-button {
    height: 30px;
    width: 120px;
    background-color: #FFAD00;
    color: white;
    font: 20px bold;
    border-radius: 10px;
    margin-top: 20px;
}

.bio-link {
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;
}


.friend-button {
    height: 30px;
    width: 200px;
    background-color: #FFAD00;
    color: white;
    font: 18px bold;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.friends-heading {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

#friend-requests {
    margin-top: 150px;
    margin-left: 30px;
}

#friends-container {
    margin-top: 60px;
    margin-left: 50px;
}

.friends-user {
    display: inline-block;
    margin-right: 130px;
}


.friends-image {
    width: 170px;
    height: 220px;
    object-fit: cover;
    border-radius: 5px;
}

.friends-name {
    margin-left: 13px;
    margin-top: 10px;
}

#friends {
    margin-top: 40px;
}

.friends-page-button {
    height: 25px;
    width: 150px;
    background-color: #FFAD00;
    color: white;
    font: 15px bold;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#online-container {
    margin-top: 50px;
    margin-left: 60px;
}

#online-heading {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 40px;
}

.online-user {
    margin-bottom: 35px;
    display: inline-block;
    margin-right: 70px;
}

.online-user-name {
    font-size: 20px;
    margin-top: 10px;
}

#messages-container {
    height: 350px;
    width: 600px;
    border: 2px solid #FFE400;
    border-bottom: none;
    overflow-y: scroll;
    background-color: #FFFFE0;
}

#chat-container {
    margin-top: 75px;
    margin-left: 425px;
}

#message-textarea {
    width: 600px;
    margin-top: 0;
    font-size: 15px;
    border: 2px solid #FFE400;
}

.message-image {
    width: 70px;
    height: 80px;
}

.message-name {
    font-size: 16px;
    font-weight: bold;
}

.message-text {
    display: inline-block;
    vertical-align: top;
    margin-left: 7px;
}

.message-timestamp {
    font-size: 15px;
    margin-bottom: 5px;
    color: #778899;
}
